<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Arcade Bridge is a software company that specializes on games and tools. 
          You can find our tools on Unity Asset Store!</p>
      </div>
      <div class="col-lg-4">
        <p>We mostly use Unity 3D and C# for game production and we are making tools for Unity 3D users. [Unit Asset Store](https://assetstore.unity.com/preview/234142/741627)</p>
      </div>
    </div>
  </div>
</section>
